
$border-style: solid;
$border-style-b: double;
$min-px: 1px;
$l-px:5px;
$xl-px:10px;
$max-width: 100%;
$zero-padding: 0;
$s-padding: 0.5rem;
$l-padding: 1rem;/*16*/
$xl-padding:1.25rem;/*20px*/

$zero-margin: 0;
$half-margin:0.50rem;
$s-margin: 1rem;
$l-margin: 2rem;

$centered:center;
$left-side:left;
$right-side:right;

